version: "3"

services:

  jaeger:
    image: jaegertracing/all-in-one:latest
    hostname: jaeger
    restart: always
    networks:
      - tracenet
    ports:
      - "16686:16686"

  otel-collector:
    image: otel/opentelemetry-collector-contrib:latest
    hostname: otel-collector
    restart: always
    networks:
      - tracenet
    command: ["--config=/otel-collector-config.yml"]
    volumes:
      - ./otel-collector-config.yml:/otel-collector-config.yml

    ports:
      - "1888:1888"   # pprof extension
      - "8888:8888"   # Prometheus metrics exposed by the collector
      - "8889:8889"   # Prometheus exporter metrics
      - "13133:13133" # health_check extension
      - "55679:55679" # zpages extension
      - "4317:4317"   # grpc exposed by trace
    depends_on:
      - jaeger

  app5:
    image: app5
    hostname: app5
    restart: always
    environment:
      - OTEL_SERVICE_NAME=app5
      - OTEL_EXPORTER_OTLP_TRACES_ENDPOINT=http://otel-collector:4317
      - OTEL_EXPORTER_OTLP_PROTOCOL=grpc
      - OTEL_METRICS_EXPORTER=prometheus
      - OTEL_EXPORTER_PROMETHEUS_PORT=9095
      - OTEL_EXPORTER_PROMETHEUS_HOST=0.0.0.0
    networks:
      - tracenet
    ports:
      - "9005:9005"
      - "9095:9095"
    depends_on:
      - otel-collector

  app4:
    image: app4
    hostname: app4
    restart: always
    environment:
      - OTEL_SERVICE_NAME=app4
      - OTEL_EXPORTER_OTLP_TRACES_ENDPOINT=http://otel-collector:4317
      - OTEL_EXPORTER_OTLP_PROTOCOL=grpc
      - OTEL_METRICS_EXPORTER=prometheus
      - OTEL_EXPORTER_PROMETHEUS_PORT=9094
      - OTEL_EXPORTER_PROMETHEUS_HOST=0.0.0.0
    networks:
      - tracenet
    ports:
      - "9004:9004"
      - "9094:9094"
    depends_on:
      - otel-collector

  app3:
    image: app3
    hostname: app3
    restart: always
    environment:
      - OTEL_SERVICE_NAME=app3
      - OTEL_EXPORTER_OTLP_TRACES_ENDPOINT=http://otel-collector:4317
      - OTEL_EXPORTER_OTLP_PROTOCOL=grpc
      - OTEL_METRICS_EXPORTER=prometheus
      - OTEL_EXPORTER_PROMETHEUS_PORT=9094
      - OTEL_EXPORTER_PROMETHEUS_HOST=0.0.0.0
    networks:
      - tracenet
    ports:
      - "9003:9003"
      - "9093:9094"
    depends_on:
      - app4
      - app5
      - otel-collector

networks:
  tracenet:
